<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <!--Group Validation we can achive like below-->
    <!-- <div *ngIf="!contact.valid">...</div> -->
    <!--
      Guid For create Template-Driven Form
      Template-Driven Form
      // 1)ngModel
      // 2) name="[we can use id name here]"
      // 3) #[idName]="ngModel"
      // 4) import { FormsModule }   from '@angular/forms'; very importent
    -->

      <!--label+input[type='text'].form-control   //Short for create below Element for HTML-->
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input 
                required 
                ngModel 
                minlength="3" 
                maxlength="10" 
                pattern="banana" 
                name="firstName" 
                #firstName="ngModel" 
                (change)="log(firstName)" 
                id="firstName" 
                type="text" 
                class="form-control">

        <!--Error Message Div Below-->
        <!--touched [prop] only user touch the form then only display the error-->
        <!--if u not include touched by default form display the error message-->
        <div 
            class="alert alert-danger" 
            *ngIf="firstName.touched && !firstName.valid">
          <div *ngIf="firstName.errors.required">
            First name is required.
          </div>
          <div *ngIf="firstName.errors.minlength">
            First Name should be minimum {{firstName.errors.minlength.requiredLength}} characters.
          </div>
          <div *ngIf="firstName.errors.pattern">
            First Name doesn't match the pattern.
          </div>
        </div>
    </div>
  </div>

    <!--div.form-group>label[for="comment"]+textarea[id='comment'].form-control    //Short for create below Element for HTML-->
    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>

     <!--div.checkbox>label>input[type='checkbox']-->
    <div class="checkbox">
      <label >
        <input type="checkbox" ngModel name="isSubscribed">
      </label>
    </div>

    <!--div.form-group>label[for='contactMethod']+select[id='contactMethod'].from-control-->
    <div class="form-group">
      <label for="contactMethod">Contact Method</label>
      <!--Add multiple prop in select Tag we can make multiple selection-->
      <select ngModel name="contactMethod" id="contactMethod" class="form-control">
        <option value="">Select...</option>
        <!--[ngValue] select entire object-->
        <!-- <option *ngFor="let method of contactMethods" [ngValue]="method">{{method.name}}</option> -->
        <option *ngFor="let method of contactMethods" [value]="method.id">{{method.name}}</option>
      </select>
    </div>

    <!--div.radio>label>input[type='radio'][name='contactMethod']-->
    <div *ngFor="let method of contactMethods" class="radio">
      <label for="">
        <input ngModel type="radio" name="contactMethod" [value]="method.id">
        {{method.name}}
      </label>
    </div>

    <p>
      {{ f.value | json   }}
    </p>
    <!--button.btn.btn-primary    //Short for create below Element for HTML-->
    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>
