.border-style {
    border: 1px solid #000; border-radius: 100px;
    background-color: red;
}
.backGround-Color-circle {
    background-color: yellow;
    border-radius: 100px;
}
.box-size{
    width: 100px;
    min-height: 100px;
}